# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/
*.Rproj

# Environment variables
.Renviron

# pkgdown site docs
docs/

# RStudio Connect
rsconnect/

# Temporary files
*.utf8.md
*.knit.md

# Bookdown files
/*_files/

# Translation temp files
po/*~

# database files
*.dta
*.sav
*.rds

# ---------------------------------------------------------
# Python バイトコードなど
__pycache__/
*.py[cod]
*$py.class

# ビルド/配布関連
build/
dist/
*.egg-info/
.eggs/

# ログ・一時ファイル
*.log
*.tmp
*.swp
  
  
# 仮想環境
venv/
.venv/
.envrc

.positai
